@model OrderForm

@if (ViewBag.Products == null)
{
  <div>No products chosen. <a href="@Url.Page("/Products/Index")" hydro-boost>Go to products</a></div>
  return;
}

<div>
  <h2>Ordered products:</h2>

  <ul>
    @foreach (Product product in ViewBag.Products)
    {
      <li>@product.Name - @product.Price.ToString("#,##0.00")</li>
    }
  </ul>
</div>